:root{
    --branding-color:#6c63ff;
    --secondary-color:#c7bfdb;
    --heading-font-family:"Play fair Display", serif;
    --default-font-family:"Poppins", sans-serif;
}
body {
    font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6{
    color: rgb(12, 0, 0);
    font-family:var(--heading-font-family);
    font-weight: bold;
}
h1 {
    font-size: 96px;
}
p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

    

.hero{
    text-align: center;
    background-color: var(--secondary-color);
    padding: 160px 20px;
}
.hero p{
    font-size: 36px;
    font-weight: bold;
    color: rgb(51, 63, 59);
    margin: 0;
    
}
.hero h2{
    font-family: var(--heading-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
}
.btn-branding{
    background-color:var(--branding-color);
    border-radius: 4px;
    color: aliceblue;
    font-size: 18px;
    line-height: 27px;
    padding: 15px  30px;
}
.btn-branding-outline{
    border-radius: 4px;
    color:var (--branding-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px  30px;
    border: 1px solid var(--branding-color);
}
.project-description{
    padding: 120px 60px;
}
@media ( max-width: 990px){
    .project-description{
        padding: 0;
        text-align: center;
        width: 100vw;
        margin-left: -100px;
        margin-right: -100px;
    }
}
.project-description p{
    font-size: 18px;

}
.hero {
    padding:70px 10px;
}
h1 {
    font-size: 50px;
    line-height: 1.5;
}
.hero h2 {
    font-size:  44px;
}
